<%- include('partials/header.ejs'); -%>
<section class="home">
  <div class="home-content">
    <h1>Hi, I'm <span>Shubham Pandey</span></h1>
    <h3>Frontend Developer</h3>
    <div class="btn-box">
      <a href="mailto:subhupndy@gmail.com">Hire Me</a>
      <a href="/Portfolio/public/assets/Shubham_Pandey_s_Resume.pdf" download
        >Download CV</a
      >
    </div>
  </div>
  <div class="home-img">
    <img src="/assets/shubham photo.png" alt="" />
  </div>
</section>
<section id="projects">
  <h2>Projects</h2>
  <div class="projects-flex">
    <div class="project">
      <h3>Netflix Homepage Clone</h3>
      <img src="" alt="" />
      <p>
        A visually striking and user-friendly interface, closely replicating the
        authentic Netflix homepage and showcasing meticulous attention to
        detail. The outcome is an engaging and aesthetically refined
        streaming-centric website - HTML, CSS, JavaScript
      </p>
    </div>
    <div class="project">
      <h3>Blog Web Application</h3>
      <img src="" alt="" />
      <p>
        Developed a responsive Blog web application using Node.js, Express.js,
        and EJS. Enabled users to create, view, edit, and delete posts, focusing
        on user-friendly design and functionality without persistent data
        storage. Ensured a seamless user experience with comprehensive styling
        and responsive design.
      </p>
    </div>
    <div class="project">
      <h3>Calculator Application</h3>
      <img src="" alt="" />
      <p>
        Built a functional calculator using HTML, CSS, and JavaScript.
        Implemented essential arithmetic operations with a clean and intuitive
        user interface. Focused on responsive design to ensure usability across
        various devices.
      </p>
    </div>
    <div class="project">
      <h3>UV Protection App (API Integration)</h3>
      <img src="" alt="" />
      <p>
        Developed a UV Protection App using EJS, CSS, Node.js, and Express.js,
        integrated with the OpenUV API. Users can enter their city name to
        receive real-time UV index data and recommendations. The app provides
        actionable advice on UV protection based on the current UV index,
        ensuring user safety and awareness.
      </p>
    </div>
  </div>
</section>
<section id="skills">
  <h2>Skills</h2>
  <ul>
    <li><img src="/assets/python.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/javascript.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/html.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/css.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/jquery.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/nodejs.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/expressjs.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/bootstrap.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/sql.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/postgresql.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/git.png" class="skill-logo" alt="" /></li>
    <li><img src="/assets/github.png" class="skill-logo" alt="" /></li>
  </ul>
</section>
<section id="about">
  <h2>About Me</h2>
  <div class="about-flex">
    <div>
      <img src="/assets/shubham photo.png" alt="" />
    </div>
      <div class="about-text">
        <div>
          <h3>Shubham Pandey</h3>
          <p>
            I am a web developer with intermediate-level HTML and CSS skills and a
            beginner-level understanding of JavaScript. I am seeking opportunities
            to expand knowledge and contribute to web development projects.
          </p>
          <a href="mailto:subhupndy@gmail.com">Hire Me</a>
          <a href="/Portfolio/public/assets/Shubham_Pandey_s_Resume.pdf" download>Download CV</a>
        </div>
        <div>
          <a href="https://x.com/SubhuPndy/"><img src="/assets/x.png" class="social-logo" alt="" /></a>
          <a href="https://www.instagram.com/pandeyshubhamofficialli"><img src="/assets/instagram.png" class="social-logo" alt="" /></a>
          <a href="https://www.linkedin.com/in/shubhampandey003/"><img src="/assets/linkedin.png" class="social-logo" alt="" /></a>
          <a href="https://github.com/ShubhamPandey03"><img src="/assets/github.png" class="social-logo" alt="" /></a>
        </div>
      </div>
  </div>
</section>
<section id="hire-me">
  <h2>Hire Me</h2>
  <p>
    If you like my work and want to collaborate, feel free to
    <a href="mailto:subhupndy@gmail.com">contact me via email</a>.
  </p>
  <button onclick="window.location.href='mailto:subhupndy@gmail.com'">
    Hire Me
  </button>
</section>

<script src="/js/script.js"></script>

<%- include('partials/footer.ejs'); -%>
